<div class="panel panel-default">
	<div class="panel-heading"> Nazwy genow </div>
	<div class="panel-body">
		<ul>
			<% @genes.each do |gene| %>
			<li>
				<dl>
					<dd> <%= gene.filename %> </dd>
				</dl>
			</li>
			<% end %>
		</ul>
		
		<li> <%= link_to "Dodaj nowy plik", new_gene_path %> </li>
		
	</div>
</div>
