
<h2> Dodaj nowy plik </h2>

<p></p>
<label for="exampleInputFile">Nazwa pliku</label>
<%= form_for(@gene) do |form| %>

  <div class: "form-group">
    <%= form.text_field :filename, class: "form-control" %>
  </div>
  
  <div class: "form-group">
    <%= form.label :source_file %>
    <%= form.file_field :source_file, class: "form-control" %>
    
    <% if @gene.errors.any? %> 
      <span class="help-block"> <%= @gene.errors[:filename].first %> </span>
    <% end %>
  </div>
    <%= form.submit "Zatwierdz"%>
</form>
<% end %>